{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}

{% block title%} Best actor candidates 2017 {% endblock%}

{% block head %}
    {{super()}}
    <style type="text/css">
        h1 { color: #336699; }
    </style>
{% endblock %}

{% block content%}
    {% include 'template_common.html'%}
    
    {% set seq = ['Denzel Washington', 'Casey Affleck', 'Ryan Gosling', 'Viggo Mortensen', 'Andrew Garfield']%}
    
    {# expression needs to be within a block, otherwise it doesn't display#}
    {{macros.display_actors(seq)}}

{% endblock %}

