{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}

{% block title%} Best actor candidates 2016 {% endblock%}

{% block head %}
    {{super()}}
    <style type="text/css">
        h1 { color: #336699; }
    </style>
{% endblock %}

{% block content%}
    {% include 'template_common.html'%}
    
    {% set seq = ['Bryan Cranston', 'Matt Damon', 'Leonardo DiCaprio', 'Michael Fassbender', 'Eddie Redmayne']%}
    
    {# expression needs to be within a block, otherwise it doesn't display#}
    {{macros.display_actors(seq)}}

{% endblock %}

